# Environment variables
.env

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Uploads directory
uploads/*
!uploads/.gitkeep

# Other OS files
.DS_Store

# Generated documents
PROJECT_REPORT.md

.venv311/
